#f-main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
}
#f-main > #f-null {
  flex: 0 0 10px;
  background-color: #666;
}
#f-main > #f-primary {
  flex: 1 1 780px;
  display: flex;
  flex-flow: column nowrap;
}
#f-main > #f-primary > #f-top {
  flex: 1 1 500px;
  overflow: auto;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 3px solid #666;
}
#f-main > #f-primary > #f-top > #f-list {
  flex: 1 1 580px;
  overflow: auto;
  position: relative;
  background-image: url("../assets/notebook/notebook.png");
  background-repeat: repeat;
}
#f-main > #f-primary > #f-top > #f-list > #bottom-expander {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 3px;
  cursor: pointer;
  z-index: 10;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #666;
}
#f-main > #f-primary > #f-top > #f-preview {
  flex: 1 1 200px;
  overflow: hidden;
  position: relative;
  transition: flex-grow 0.2s, flex-shrink 0.2s, flex-basis 0.2s;
  background-image: url("../assets/retina_wood/retina_wood.png");
  background-repeat: repeat;
  box-shadow: inset 0 0 10px #fff;
  border-left: 3px solid #666;
}
#f-main > #f-primary > #f-top > #f-preview > .card-svg {
  margin: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}
#f-main > #f-primary > #f-bottom {
  flex: 1 1 300px;
  position: relative;
  transition: flex-basis 0.2s;
  display: flex;
  flex-flow: row nowrap;
}
#f-main > #f-primary > #f-bottom > #f-tabs {
  flex: 1 0 50px;
  display: flex;
  flex-flow: column nowrap;
}
#f-main > #f-primary > #f-bottom > #f-tabs > .f-tab {
  flex: 1 1 75px;
  position: relative;
  overflow: hidden;
  background-color: #666;
  font-family: sans-serif;
  cursor: pointer;
}
#f-main > #f-primary > #f-bottom > #f-tabs > .f-tab > span {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 3px;
  height: 1em;
  line-height: 1em;
  vertical-align: center;
}
#f-main > #f-primary > #f-bottom > #f-tabs > .f-tab.active {
  background-color: #fbf1d3;
}
#f-main > #f-primary > #f-bottom > #f-editor {
  flex: 10 1 730px;
  position: relative;
  background-color: #666;
}
#f-main > #f-primary > #f-bottom > #f-editor.fields-container {
  display: flex;
  flex-flow: row nowrap;
}
#f-main > #f-primary > #f-bottom > #f-editor.fields-container > #f-fields-left {
  flex: 1 1 100px;
  overflow: auto;
}
#f-main > #f-primary > #f-bottom > #f-editor.fields-container > #f-fields-right {
  flex: 10 1 630px;
  overflow: auto;
}
#f-main > #f-primary > #f-bottom > #f-bottom-size {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 3px;
  color: #fff;
  background-color: #666;
  z-index: 10;
}
#f-main > #f-primary > #f-bottom > #f-bottom-size > span {
  font-size: 1em;
  cursor: pointer;
}
#f-main > #f-loading {
  flex: 1 1 800px;
  position: relative;
  overflow: hidden;
}
#f-main > #f-loading > img.splash {
  position: absolute;
  top: calc(50% - 144px);
  left: calc(50% - 144px);
  width: 288px;
  height: 288px;
}
.flex-hide {
  flex: 0 !important;
}
#f-list .card-list-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#f-list .card-empty-list {
  text-align: center;
  font-family: sans-serif;
}
#f-list .card-empty-list strong {
  display: block;
  font-size: 1.5em;
  margin: 0.5em;
}
#f-list .card-empty-list button {
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}
#f-list table.card-list {
  table-layout: fixed;
  border-collapse: collapse;
}
#f-list table.card-list > thead {
  font-family: sans-serif;
  font-size: 0.9em;
}
#f-list table.card-list > thead > tr {
  border-bottom: 1px solid #333;
}
#f-list table.card-list > thead > tr > th {
  padding-bottom: 3px;
}
#f-list table.card-list > thead > tr > th:nth-child(n+1) {
  cursor: pointer;
}
#f-list table.card-list > thead > tr > th:nth-child(n+1).active {
  font-style: italic;
}
#f-list table.card-list > thead > tr > th.active::after {
  content: '\25BC';
}
#f-list table.card-list > thead.sortReversed > tr > th.active::after {
  content: '\25B2';
}
#f-list table.card-list > tbody input,
#f-list table.card-list > tbody textarea {
  background-color: inherit;
  border: none;
}
#f-list table.card-list > tbody input {
  font-size: 1em;
  display: block;
  width: calc(100% - 4px);
  margin: 0 2px;
  padding: 0;
}
#f-list table.card-list > tbody textarea {
  font-size: 0.9em;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 3px;
}
#f-list table.card-list > tbody > tr {
  height: 3em;
  cursor: pointer;
}
#f-list table.card-list > tbody > tr:nth-child(even) {
  background-color: rgba(255,255,255,0.7);
}
#f-list table.card-list > tbody > tr:nth-child(even).active {
  background-color: rgba(255,255,0,0.8);
  box-shadow: 0 3px 10px #000;
}
#f-list table.card-list > tbody > tr:nth-child(odd) {
  background-color: rgba(180,180,180,0.7);
}
#f-list table.card-list > tbody > tr:nth-child(odd).active {
  background-color: rgba(255,255,0,0.8);
  box-shadow: 0 3px 10px #000;
}
#f-list table.card-list th,
#f-list table.card-list td {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border-right: 1px solid #333;
}
#f-list table.card-list th:last-child,
#f-list table.card-list td:last-child {
  border-right: none;
}
#f-list table.card-list th.left-buffer,
#f-list table.card-list td.left-buffer {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  border-right: none;
}
#f-list .below-card-list {
  margin: 5px;
}
#f-list .below-card-list > button {
  font-size: 1em;
}
#f-list .image-chooser {
  display: table;
}
#f-list .image-chooser span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 7px;
}
#f-list .image-chooser img.thumbnail {
  height: 2em;
  margin-top: 4px;
}
#f-list .image-chooser button.clearImage {
  border: none;
  background: inherit;
  font-size: 1.2em;
  cursor: pointer;
}
#f-list .image-chooser button.clearImage:hover {
  color: #900;
}
#f-list .color-picker .color-picker-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  margin-left: 5px;
}
#f-list .color-picker .color-picker-expanded {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
}
#f-list .color-picker .color-picker-popout {
  position: absolute;
  margin-top: -35px;
  margin-left: 50px;
}
body {
  background-color: #666;
}
#error-box {
  position: fixed;
  top: 10px;
  left: 20%;
  right: 20%;
  height: auto;
  overflow: auto;
  padding: 5px;
  color: #fff;
  background-color: rgba(200,0,0,0.75);
}
#error-box > div {
  white-space: pre-wrap;
  font-family: monospace;
}
#error-box.loading-screen {
  background-color: rgba(150,62,150,0.75);
}
#spinner-box {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 50%;
  right: 0;
}
#spinner-box > div {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -40%;
  width: 80%;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
}
#spinner-box > img {
  position: absolute;
  top: 5%;
  left: -35%;
  width: 70%;
  height: 60%;
}
#spinner-box > #spinner-text {
  position: absolute;
  top: 70%;
  left: -35%;
  width: 70%;
  height: 25%;
  font-family: sans-serif;
  background: none;
}
.ace-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.guide-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 0 10px;
  background-color: #fbf1d3 !important;
}
.guide-container > section {
  font-family: sans-serif;
}
.guide-container > section h1,
.guide-container > section h2,
.guide-container > section h3,
.guide-container > section h4,
.guide-container > section h5,
.guide-container > section h6 {
  margin: 0.2em 0 0.5em;
}
.assets-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  background-color: #fbf1d3;
}
.assets-container > .asset-box {
  margin: 5px;
  padding: 5px;
  border: 2px solid #666;
  font-family: sans-serif;
}
.fields-container > #f-fields-left {
  border-left: 10px solid #fbf1d3;
}
.fields-container > #f-fields-left ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.fields-container > #f-fields-left ul li {
  padding: 5px;
  background-color: #666;
  font-family: sans-serif;
  cursor: pointer;
  border-left: 5px solid #666;
}
.fields-container > #f-fields-left ul li.active {
  background-color: #fbf1d3;
}
.fields-container > #f-fields-left > button {
  margin-top: 5px;
  margin-left: 5px;
  background: none;
  font-size: 1em;
  border: 2px solid #000;
}
.fields-container > #f-fields-right {
  border-left: 10px solid #fbf1d3;
  background-color: #fbf1d3;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.fields-container > #f-fields-right .field-box {
  margin: 5px;
  border: 2px solid #666;
}
.fields-container > #f-fields-right .field-box > * {
  display: block;
  margin: 5px;
}
.fields-container > #f-fields-right .field-box > strong {
  font-family: sans-serif;
}
.fields-container > #f-fields-right .field-box > input.invalid {
  background-color: #f99;
}
.font-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  background-color: #fbf1d3;
}
.font-view > .font-box {
  width: 170px;
  margin: 5px;
  padding: 5px;
  border: 2px solid #666;
  font-family: sans-serif;
}
.font-view > .font-box .font-title {
  border-bottom: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
.font-view > .font-box .font-title input {
  display: block;
  width: 95%;
  font-size: 1em;
  background-color: inherit;
}
.font-view > .font-box .font-demo {
  font-size: 1.4em;
}
.error-entry:not(:first-child) {
  border-top: 1px solid #fff;
  margin-top: 5px;
  padding-top: 5px;
}
.error-entry span.error-details {
  font-size: 0.8em;
  text-decoration: underline;
  cursor: pointer;
}
#print > * {
  position: absolute;
}
@media print {
  body {
    margin: 0;
  }
  @page {
    margin: 0;
  }
  #f-main {
    display: none;
  }
  #print {
    display: block;
  }
}
