/*
 * Copyright (C) 2019 Shane F. Carr
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@require("mixins.styl")
@require("flexbox.styl")

#f-list {
	@require("card_list.styl")
}

body {
	background-color: $gutter_color
}

#error-box {
	position: fixed
	top: 10px
	left: 20%
	right: 20%
	height: auto
	overflow: auto
	padding: 5px

	color: white
	background-color: rgba(200, 0, 0, 0.75)
	
	& > div {
		white-space: pre-wrap
		font-family: monospace
	}
	
	&.loading-screen {
		background-color: rgba(150, 62, 150, 0.75)
	}
}

#spinner-box {
	position: fixed
	top: 20%
	bottom: 20%
	left: 50%
	right: 0

	& > div {
		position: absolute
		top: 0%
		bottom: 0%
		left: -40%
		width: 80%

		background-color: rgba(255, 255, 255, 0.75)
		text-align: center
	}

	& > img {
		position: absolute
		top: 5%
		left: -35%
		width: 70%
		height: 60%
	}

	& > #spinner-text {
		position: absolute
		top: 70%
		left: -35%
		width: 70%
		height: 25%

		font-family: sans-serif
		background: none
	}
}

.ace-container {
	& > div {
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	}
}

.guide-container {
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	overflow: auto

	padding: 0 10px
	background-color: $solarized_light !important

	& > section {
		font-family: sans-serif
		h1, h2, h3, h4, h5, h6 {
			margin: .2em 0 .5em
		}
	}
}

.assets-container {
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	overflow: auto

	display: flex
	flex-flow: row wrap
	align-items: flex-start
	background-color: $solarized_light

	& > .asset-box {
		margin: 5px
		padding: 5px
		border: 2px solid $gutter_color
		font-family: sans-serif
	}
}

.fields-container {
	& > #f-fields-left {
		border-left: 10px solid $solarized_light
		
		ul {
			list-style-type: none
			margin: 0
			padding-left: 0
			
			li {
				padding: 5px
				background-color: $gutter_color
				font-family: sans-serif
				cursor: pointer
				border-left: 5px solid $gutter_color

				&.active {
					background-color: $solarized_light
				}
			}
		}
		
		& > button {
			margin-top: 5px
			margin-left: 5px
			background: none
			font-size: 1em
			border: 2px solid #000
		}
	}

	& > #f-fields-right {
		border-left: 10px solid $solarized_light
		background-color: $solarized_light

		display: flex
		flex-flow: row wrap
		align-items: flex-start
		
		.field-box {
			margin: 5px
			border: 2px solid $gutter_color

			& > * {
				display: block
				margin: 5px
			}

			& > strong {
				font-family: sans-serif
			}

			& > input.invalid {
				background-color: #F99
			}
		}
	}
}

.font-view {
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	overflow: auto

	display: flex
	flex-flow: row wrap
	align-items: flex-start
	background-color: $solarized_light

	& > .font-box {
		width: 170px
		margin: 5px
		padding: 5px
		border: 2px solid $gutter_color
		font-family: sans-serif
		
		.font-title {
			border-bottom: 1px solid $gutter_color
			margin-bottom: 5px
			padding-bottom: 2px
			
			input {
				display: block
				width: 95%
				font-size: 1em
				background-color: inherit
			}
		}
		
		.font-demo {
			font-size: 1.4em
		}
	}
}

.error-entry {
	&:not(:first-child) {
		border-top: 1px solid #FFF
		margin-top: 5px
		padding-top: 5px
	}

	span.error-details {
		font-size: 0.8em
		text-decoration: underline
		cursor: pointer
	}
}

.info-btn {
	cursor: pointer
}

#print {
	// Using display:none here sometimes caused issues with font rendering.
	// display: none
	& > * {
		position: absolute
	}
}

@media print {
	body {
		margin: 0
	}
	@page {
		margin: 0
	}
	#f-main {
		display: none
	}
	#print {
		display: block
	}
}

// Styles for @print are computed on the fly
